*{
font-family: sans-serif;
}
body{
    background: url('faq.avif') no-repeat center;
    background-position: top;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.accordion{
    border: 2px solid black;
    background-color: #262626;
    color: white;
    border-radius: 20px;
    width: 500px;
    padding: 40px;
    margin-top: 304px;
    
    

}
.accordion .content-container .question{
    padding: 18px 0;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid white;
    position: relative;


}
.accordion .content-container .question::after{
    content: "+";
    position: absolute;
    right: -5px;
}
.accordion .content-container .answer{
    padding-top: 15px;
    line-height: 1.5;
    width:100%;
    height: 0px;
    overflow: hidden;
    transition: .5s;

}
.accordion .content-container.active .answer{
    height: 150px
}